<div class="modal-content">
  {{#modal-header}}
    <h4 class="modal-title" id="appModalLabel">{{gettext "Change your avatar"}}</h4>
  {{/modal-header}}

  {{#if isLoaded}}
  <div class="modal-body">
    {{component activeForm options=options activeForm=activeForm}}
  </div>
  {{else if loadError}}
    {{#routed-links class="modal-body modal-message"}}

      <div class="message-icon">
        <i class="material-icons">info_outline</i>
      </div>

      <p class="lead">
        {{loadError.detail}}
      </p>

      {{#if loadError.reason}}
        {{{loadError.reason}}}
      {{/if}}

    {{/routed-links}}
  {{else}}
  <div class="modal-body modal-message">
    {{loader-compact}}
  </div>
  {{/if}}
</div>