<div class="modal-content">
  {{#modal-header}}
    <h4 class="modal-title" id="appModalLabel">{{gettext "Change your avatar"}}</h4>
  {{/modal-header}}

  {{#if isLoaded}}
  <div class="modal-body">
    {{component activeForm options=options activeForm=activeForm}}
  </div>
  {{else if loadError}}
  <div class="modal-body modal-message">

    <div class="message-icon">
      <span class="fa fa-warning fa-4x text-muted"></span>
    </div>

    <p class="lead">
      {{loadError.detail}}
    </p>

    {{#if loadError.reason}}
      {{{loadError.reason}}}
    {{/if}}

  </div>
  {{else}}
  <div class="modal-body modal-message">
    <div class="loader"></div>
  </div>
  {{/if}}
</div>