<div class="media">
  <div class="media-left">

    <span class="ui-preview-img">
      {{user-avatar size=50 class="hidden-md hidden-lg"}}
      {{user-avatar size=200 class="hidden-xs hidden-sm"}}
    </span>

  </div>
  <div class="media-body">

    <h4>
      {{ui-text-preview minLength=5 maxLength=15 class="ui-preview-text"}}
    </h4>

    <p>
      {{ui-text-preview minLength=15 maxLength=38 class="ui-preview-text"}}
    </p>

  </div>
</div>
<footer>
  <nav>
    <ul class="list-unstyled">
      {{#if auth.isAuthenticated}}
        <li>
          <div class="btn btn-default btn-block">
            <span class="ui-preview-text">
              {{#if show-follow}}
                {{gettext "Follow"}}
              {{else}}
                {{gettext "Profile"}}
              {{/if}}
            </span>
          </div>
        </li>
        <li>
          <div class="btn btn-default btn-block">
            <span class="ui-preview-text">
              {{gettext "Message"}}
            </span>
          </div>
        </li>
      {{else}}
        <li>
          <div class="btn btn-default btn-block">
            <span class="ui-preview-text">
              {{gettext "Profile"}}
            </span>
          </div>
        </li>
      {{/if}}
    </ul>
  </nav>
</footer>