<div class="forgotten-password-page">
  <div class="page-header">
    <div class="container">
      <h1>{{gettext "Change forgotten password"}}</h1>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4 col-md-offset-4">

        <div class="well well-form">
          <form {{action "submit" on="submit"}}>

            <div class="form-group">
              <div class="control-input">
                {{input type="password" value=password class="form-control" placeholder=(gettext "Enter new password")}}
              </div>
            </div>

            {{#if isLoading}}
            <button type="button" class="btn btn-block btn-primary" disabled="disabled">
              <span class="fa fa-cog fa-spin"></span>
              {{gettext "Processing..."}}
            </button>
            {{else}}
            <button type="submit" class="btn btn-primary btn-block">{{gettext "Change password"}}</button>
            {{/if}}

          </form>
        </div>

      </div>
    </div>

  </div>
</div>
