{{forum-navbar}}
{{toast-message}}
{{desync-message}}

<div class="main-outlet">
  {{outlet}}
</div>

{{forum-footer}}

<div class="modal fade" id="appModal" tabindex="-1" role="dialog" aria-labelledby="appModalLabel" aria-hidden="true">
  {{outlet "modal"}}
</div>