<div class="container">
  <h1>Welcome to Ember.js!</h1>

  <p class="lead">
    If you see this, Ember.js app has started successfully.
  </p>

  <h2>Where are forums?</h2>

  <p>
    This code is work in progress for Misago 0.6 release. If you expected to see forums instead, please download <strong>latest 0.5 release</strong> instead.
  </p>

  <h2>Material buttons</h2>

  <h3>Flat</h3>
  <ul class="list-unstyled list-inline">
    <li>
      <button type="button" class="btn btn-default">
        Flat Button
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-primary">
        Flat Button
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-success">
        Flat Button
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-warning">
        Flat Button
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-danger">
        Flat Button
      </button>
    </li>
  </ul>

  <ul class="list-unstyled list-inline">
    <li>
      <button type="button" class="btn btn-default btn-busy" disabled="disabled">
        Flat Button
        {{loader-compact}}
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-primary btn-busy" disabled="disabled">
        Flat Button
        {{loader-compact}}
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-success btn-busy" disabled="disabled">
        Flat Button
        {{loader-compact}}
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-warning btn-busy" disabled="disabled">
        Flat Button
        {{loader-compact}}
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-danger btn-busy" disabled="disabled">
        Flat Button
        {{loader-compact}}
      </button>
    </li>
  </ul>

  <h3>Raised</h3>

  <ul class="list-unstyled list-inline">
    <li>
      <button type="button" class="btn btn-default btn-raised">
        Raised Button
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-primary btn-raised">
        Raised Button
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-success btn-raised">
        Raised Button
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-warning btn-raised">
        Raised Button
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-danger btn-raised">
        Raised Button
      </button>
    </li>
  </ul>

  <ul class="list-unstyled list-inline">
    <li>
      <button type="button" class="btn btn-default btn-raised btn-busy" disabled="disabled">
        Raised Button
        {{loader-compact}}
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-primary btn-raised btn-busy" disabled="disabled">
        Raised Button
        {{loader-compact}}
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-success btn-raised btn-busy" disabled="disabled">
        Raised Button
        {{loader-compact}}
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-warning btn-raised btn-busy" disabled="disabled">
        Raised Button
        {{loader-compact}}
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-danger btn-raised btn-busy" disabled="disabled">
        Raised Button
        {{loader-compact}}
      </button>
    </li>
  </ul>

</div>
