<nav class="navbar navbar-primary navbar-default navbar-static-top" role="navigation">
  <div class="container">

    {{#link-to 'index' class="navbar-brand"}}
      <img src="{{unbound staticUrl}}misago/img/misago_logo.png" alt="">
      <span>{{settings.forum_name}}</span>
    {{/link-to}}

    {{#if user.isAuthenticated}}
    {{render 'user-nav'}}
    {{else}}
    <div class="guest-nav navbar-right">
      <button type="button" class="btn btn-default btn-login navbar-btn btn-sm" {{action "showModal" "login"}}>
        {{gettext "Sign in"}}
      </button>

      {{#register-button class="btn btn-info btn-join navbar-btn btn-sm"}}
        {{gettext "Join now"}}
      {{/register-button}}
    </div>
    {{/if}}

  </div><!-- /.container -->
</nav>
