<nav class="navbar navbar-primary navbar-default navbar-static-top" role="navigation">
  <div class="container">

    {{#link-to 'index' class="navbar-brand"}}
      <img src="{{unbound staticUrl}}misago/img/misago_logo.png" alt="">
      <span>{{settings.forum_name}}</span>
    {{/link-to}}

    {{#if user.isAuthenticated}}
    {{render 'user-nav'}}
    {{else}}
    {{guest-nav}}
    {{/if}}

  </div><!-- /.container -->
</nav>
