<div class="container">

  {{#if auth.syncToUser}}
  <p class="lead">{{gettext "You have logged in as %(username)s. Please refresh this page before continuing." username=auth.syncToUser.username}}</p>
  {{else}}
  <p class="lead">{{gettext "%(username)s, you have been logged out. Please refresh this page before continuing." username=auth.user.username}}</p>
  {{/if}}

  <p>
    {{#refresh-button class="btn btn-outlined btn-default"}}
      {{gettext "Refresh page"}}
    {{/refresh-button}} <span class="hidden-xs hidden-sm text-muted">{{gettext "or press F5 key."}}</span>
  </p>

</div>