<label for="{{for}}" class="{{labelClass}} control-label">{{label}}</label>
<div class="{{controlClass}}">
  {{yield}}

  {{#if messages }}
    <div class="help-block errors">
      {{#each message in messages}}
      <p>{{message}}</p>
      {{/each}}
    </div>
  {{/if}}

  {{#if helpText}}
    <p class="help-block">{{helpText}}</p>
  {{/if}}
</div>
