<div class="panel panel-form {{if isErrored "is-errored"}}">
  {{#if isReady}}
  <div class="panel-body">

    {{#form-row label=(gettext "Username") for="id_username" label-class="col-md-4" control-class="col-md-8" validation=validation name="username"}}
      {{input id="id_username" type="text" class="form-control" value=username}}
    {{/form-row}}

    {{#form-row label=(gettext "E-mail") for="id_email" label-class="col-md-4" control-class="col-md-8" validation=validation name="email"}}
      {{input id="id_email" type="text" class="form-control" value=email}}
    {{/form-row}}

    {{#form-row label=(gettext "Password") for="id_password" label-class="col-md-4" control-class="col-md-8" validation=validation name="password"}}
      {{input id="id_password" type="password" class="form-control" value=password}}
    {{/form-row}}

    {{#if captcha.field}}
    {{component captcha.field label-class="col-md-4" control-class="col-md-8"}}
    {{/if}}

    <p class="lead">
      !jak validacja kapci zakonczona, to wyswietlaj statyka &quot;hej, kapcze masz z glowy&quot;.
      <br>
      + podepnij feedback do kapci
    </p>

  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-8 col-md-offset-4">

        {{#if isLoading}}
        <button type="button" class="btn btn-primary" disabled="disabled">
          <span class="fa fa-cog fa-spin"></span>
          {{gettext "Registering..."}}
        </button>
        {{else}}
        <button type="submit" class="btn btn-primary">
          {{gettext "Register account"}}
        </button>
        {{/if}}

        <div class="extra">
          !tutaj krutkie pierdololo o tym ze rejestracja to akceptacja regulaminu
        </div>

      </div>
    </div>

  </div>
  {{else if isErrored}}
  <div class="panel-body panel-error text-center">
    <div class="error">

      <div class="error-icon">
        <span class="fa fa-warning"></span>
      </div>

      <div class="error-message">
        <p>{{gettext "This form is not avaialable at the moment."}}</p>
      </div>

    </div>
  </div>
  {{else}}
  <div class="panel-body panel-loader">
    <div class="loader"></div>
  </div>
  {{/if}}
</div>