<div class="media">
  <div class="media-left">

    {{#link-to 'user' user.url_name}}
      {{user-avatar user=user size=50 class="hidden-md hidden-lg"}}
      {{user-avatar user=user size=200 class="hidden-xs hidden-sm"}}
    {{/link-to}}

  </div>
  <div class="media-body">

    <h4>{{user.username}}</h4>

    <p>
      {{#if user.finalTitle}}
        {{user.finalTitle}},
      {{/if}} {{user-state-label user=user}}
    </p>

  </div>
</div>
<footer>
  <nav>
    <ul class="list-unstyled">
      {{#if show-follow}}
        <li>
          {{#link-to 'user' user.url_name class="btn btn-default btn-block"}}
            {{gettext "Follow"}}
          {{/link-to}}
        </li>
      {{else}}
        <li>
          {{#link-to 'user' user.url_name class="btn btn-primary btn-block"}}
            {{gettext "Profile"}}
          {{/link-to}}
        </li>
      {{/if}}
      <li>
        {{#link-to 'user' user.url_name class="btn btn-default btn-block"}}
          {{gettext "Message"}}
        {{/link-to}}
      </li>
    </ul>
  </nav>
</footer>