{{#link-dropdown-toggle route='user' params=[auth.user] }}
  {{user-avatar user=auth.user size=32}}
{{/link-dropdown-toggle}}
<ul class="dropdown-menu user-dropdown dropdown-menu-right" role="menu">
  <li class="user-preview">

    <div class="media">
      <div class="media-left">

        {{#show-modal-button modal="change-avatar-modal" class="btn editable-avatar"}}
          {{user-avatar user=auth.user size=100}}
          <div class="help">
            {{gettext "Change avatar"}}
          </div>
        {{/show-modal-button}}

      </div>
      <div class="media-body">

        <h4 class="media-heading">{{auth.user.username}}</h4>

        <p class="text-muted">
          {{auth.user.full_title}}
        </p>

        <div class="row">
          <div class="col-xs-6">
            {{#link-to 'user' auth.user activeClass="" class="btn btn-outlined btn-default btn-block btn-sm"}}
              {{gettext "Profile"}}
            {{/link-to}}
          </div>
          <div class="col-xs-6">
            {{#link-to 'options' activeClass="" class="btn btn-outlined btn-default btn-block btn-sm"}}
              {{gettext "Options"}}
            {{/link-to}}
          </div>
        </div>

      </div>
    </div>

  </li>
  <li class="dropdown-space hidden-md hidden-lg">
    <button type="button" class="btn btn-outlined btn-success btn-block">
      <i class="material-icons">chat_bubble_outline</i>
      {{gettext "Start thread"}}
    </button>
  </li>
  <li class="divider hidden-md hidden-lg"></li>
  <li>
    <a href="#">
      <i class="material-icons">error_outline</i>
      {{gettext "Reports"}}
      <span class="badge">132</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="material-icons">notifications_none</i>
      {{gettext "Notifications"}}
      <span class="badge">132</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="material-icons">inbox</i>
      {{gettext "Private threads"}}
      <span class="badge">132</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="material-icons">bookmark_border</i>
      {{gettext "Subscriptions"}}
    </a>
  </li>
  <li class="dropdown-footer">
    <button type="button" class="btn btn-outlined btn-default btn-block" {{action "logout"}}>
      {{gettext "Log out"}}
    </button>
  </li>
</ul>