{{#if uploadHash}}
  {{avatar-crop-form options=options activeForm=activeForm isNested=true secret=options.crop_tmp.secret hash=uploadHash}}
{{/if}}

<input class="file-upload" type="file">

{{#if isBusy}}
<div class="uploading-file">
  <img src="" alt="">

  <h4>{{gettext "uploading %(filename)s (%(size)s)" filename=selectedImage.name size=(file-size selectedImage.size)}}</h4>

  <div class="progress">
    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
      <span class="sr-only">{{gettext "%(progress)s% complete" progress=progress}}</span>
    </div>
  </div>
</div>
{{/if}}

{{#unless uploadHash}}
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    {{#if allowUpload}}
    <div class="upload-file">
      {{#if isBusy}}
        <button type="button" class="btn btn-primary btn-raised btn-block btn-busy" disabled="disabled">
          &nbsp;
          {{loader-compact}}
        </button>
      {{else}}
        <button type="button" class="btn btn-primary btn-raised btn-block" {{if isBusy "disabled"}} {{action "selectFile"}}>
          {{gettext "Select file"}}
        </button>
      {{/if}}
      <p class="text-muted">
        {{gettext "%(files)s files smaller than %(limit)s" files=extensions limit=(file-size options.upload.limit)}}
      </p>
    </div>
    {{/if}}

    <button type="button" class="btn btn-default btn-block {{if isBusy "disabled"}}" {{if isBusy "disabled"}} {{action "cancel"}}>
      {{gettext "Cancel"}}
    </button>

  </div>
</div>
{{/unless}}