{{#if isLoaded}}
<div class="image-cropper">
  <div class="cropit-image-preview"></div>
  <input type="range" class="cropit-image-zoom-input" />
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    {{#if isBusy}}
      <button type="button" class="btn btn-primary btn-raised btn-block btn-busy" disabled="disabled">
        &nbsp;
        {{loader-compact}}
      </button>
    {{else}}
      <button type="button" class="btn btn-primary btn-raised btn-block" {{action "crop"}}>
      {{#if isNested}}
        {{gettext "Set avatar"}}
      {{else}}
        {{gettext "Crop image"}}
      {{/if}}
      </button>
    {{/if}}

    <button type="button" class="btn btn-default btn-block {{if isBusy "disabled"}}" {{if isBusy "disabled"}} {{action "cancel"}}>
      {{gettext "Cancel"}}
    </button>

  </div>
</div>
{{else}}
  {{loader-compact}}
{{/if}}