<div class="panel panel-form">
  <div class="panel-heading">
    <h3 class="panel-title">{{gettext "Change username"}}</h3>
  </div>
  {{#if isLoaded}}
    {{#if changesLeft}}
    <div class="panel-body">

      {{#form-row
          label=(gettext "New username:")
          help_text=changesLeftMessage
          for="id_username"
          label-class="col-md-4"
          control-class="col-md-8"
          validation=validation.username}}

        {{input id="id_username" type="text" class="form-control" autocomplete="off" value=username}}
      {{/form-row}}

    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-md-8 col-md-offset-4">

          {{#if isSaving}}
          <button type="button" class="btn btn-primary btn-block-sm" disabled="disabled">
            <span class="fa fa-cog fa-spin"></span>
            {{gettext "Changing..."}}
          </button>
          {{else}}
          <button type="submit" class="btn btn-primary btn-block-sm">{{gettext "Change username"}}</button>
          {{/if}}

        </div>
      </div>
    </div>
    {{else}}
    <div class="panel-body">
      <p>{{gettext "You can't change your username now."}}</p>
      {{#if nextChange}}
      <p>{{gettext "Next change will be possible %(next_change)s." next_change=(from-now nextChange tick=clock.tick)}}</p>
      {{/if}}
    </div>
    {{/if}}
  {{else if isErrored}}
  <div class="panel-error">

    <div class="error-icon">
      <span class="fa fa-warning fa-lg"></span>
    </div>

    <div class="error-message">
      <p>{{isErrored.detail}}</p>
    </div>

  </div>
  {{else}}
  <div class="panel-body panel-loader">
    <div class="loader"></div>
  </div>
  {{/if}}
</div>