<div class="panel panel-form edit-signature-form">
  <div class="panel-heading">
    <h3 class="panel-title">{{gettext "Edit signature"}}</h3>
  </div>
  {{#if isLoaded}}
  <div class="panel-body">
    {{misago-editor value=signature inputHeight=60 toolbar=false limit=options.limit}}

    {{#if isBusy}}
    <button type="button" class="btn btn-primary btn-block-sm disabled" disabled="disabled">
      {{gettext "Saving changes..."}}
    </button>
    {{else}}
    <button type="submit" class="btn btn-primary btn-block-sm">{{gettext "Save changes"}}</button>
    {{/if}}

    {{#if options.signature.html}}
    <div class="well well-sm">
      <article class="misago-markup">
        {{{options.signature.html}}}
      </article>
      <footer class="well-label">{{gettext "Your current signature"}}</footer>
    </div>
    {{/if}}
  </div>
  {{else if loadError}}
  <div class="panel-error">

    <div class="error-icon">
      <i class="material-icons">error_outline</i>
    </div>

    {{#routed-links class="error-message"}}
      {{#if loadError.reason}}
      <p class="lead">{{loadError.detail}}</p>
      {{{loadError.reason}}}
      {{else}}
      <p>{{loadError.detail}}</p>
      {{/if}}
    {{/routed-links}}

  </div>
  {{else}}
  <div class="panel-body panel-loader">
    {{loader-compact}}
  </div>
  {{/if}}
</div>