<div class="users-page">

  <div class="page-header tabbed">
    <div class="container">

      <h1 class="pull-left">{{gettext "Users"}}</h1>

      <div class="btn-group hidden-md hidden-lg pull-right">
        <button type="button" class="btn btn-default btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">menu</i>
        </button>
        <ul class="dropdown-menu">
          {{#link-to "users.active" tagName="li" href=false}}
            {{#link-to "users.active" activeClass=""}}
              {{gettext "Most Active"}}
            {{/link-to}}
          {{/link-to}}

          {{#if auth.user.acl.can_see_users_online_list}}
            {{#link-to "users.online" tagName="li" href=false}}
              {{#link-to "users.online" activeClass=""}}
                {{gettext "Online Users"}}
              {{/link-to}}
            {{/link-to}}
          {{/if}}

          {{#each model as |rank|}}
            {{#link-to "users.rank" rank tagName="li" href=false}}
              {{#link-to "users.rank" rank activeClass=""}}
                {{rank.name}}
              {{/link-to}}
            {{/link-to}}
          {{/each}}
        </ul>
      </div>

      <div class="clearfix"></div>

      <ul class="nav nav-tabs">
        {{#link-to "users.active" tagName="li" href=false}}
          {{#link-to "users.active" activeClass=""}}
            {{gettext "Most Active"}}
          {{/link-to}}
        {{/link-to}}

        {{#if auth.user.acl.can_see_users_online_list}}
          {{#link-to "users.online" tagName="li" href=false}}
            {{#link-to "users.online" activeClass=""}}
              {{gettext "Online Users"}}
            {{/link-to}}
          {{/link-to}}
        {{/if}}

        {{#each model as |rank|}}
          {{#link-to "users.rank" rank tagName="li" href=false}}
            {{#link-to "users.rank" rank activeClass=""}}
              {{rank.name}}
            {{/link-to}}
          {{/link-to}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="container">
    {{outlet}}
  </div>

</div>
